<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>graficas</ion-title>
    <app-logout></app-logout>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">


  <ion-card style="height: 250px;">
    <div class="chart-container" style="position: relative; height:50vh; width:80vw; margin:auto;">
      <canvas id="mychart" height="200"></canvas>
    </div>
  </ion-card>



  <ion-card style="height: 250px;">
    <div class="chart-container" style="position: relative; height:300px; width:80vw; margin:auto;">
      <canvas id="mychart2" height="200"></canvas>
    </div>
  </ion-card>



  <ion-card style="height: 700px;">
    <div class="chart-container" style="position: relative; height:50vh; width:80vw; margin:auto;">
      <canvas id="mychart3" height="400"></canvas>
    </div>
  </ion-card>
</ion-content>

<ion-content>
  <app-homedownfooter></app-homedownfooter>
</ion-content>