<ion-header>
  <ion-toolbar>
    <ion-title class="center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>




    <form #form="ngForm">
      <ion-grid fixed>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center offset="2" size-md="12" size-lg="4" size-xs="12">


            <div padding>

              <ion-item>
                <div>
                  <ion-label>
                    <ion-icon name="mail-outline" only-icon></ion-icon>
                  </ion-label>
                </div>
                <ion-input name="user" type="text" placeholder="Usuario" [(ngModel)]="name" ngModel required>
                </ion-input>
              </ion-item>
              <ion-item>
                <div>
                  <ion-icon name="lock-closed-outline"></ion-icon>
                </div>
                <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password" ngModel
                  required>
                </ion-input>
              </ion-item>
            </div>
          </ion-col>
          <br>
          <br>
          <ion-col align-self-center offset="3" size-md="12" size-lg="2" size-xs="12">
            <div padding>

              <!--   <ion-chip color="ligth"> -->
              <ion-button size="large" shape="round" type="submit" [disabled]="form.invalid" (click)="Signupv()">
                <ion-icon name="log-in-outline"></ion-icon>
                <ion-label color="ligth">Ingresar</ion-label>
              </ion-button>
              <!-- </ion-chip> -->

            </div>

          </ion-col>

        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="primary" expand="full" shape="round" class="btn-primary" [routerLink]="['/home/']">Inicio
        </ion-button>


      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="full" fill="clear" [routerLink]="['/register/']">

          <ion-label color="dark">
            Registrarte
          </ion-label>
        </ion-button>


      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>