.my-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    color: #2ddcdc;
    background-color: #ffffff;
    width: 60px;



}

.my-user {
    position: fixed;
    right: 45px;
    bottom: 0;
    margin: 10px;
    color: #2ddcdc;
    background-color: #ffffff;
    width: 60px;
    align-content: center;



}

.icon {
    width: 30px;
    height: 30px;
}