<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/dashboard/']">
        <ion-icon name="document-sharp"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/graficas/']">
        <ion-icon name="bar-chart-sharp"></ion-icon>
        <ion-label>Graficos</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/camara/']">
        <ion-icon name="videocam-sharp"></ion-icon>
        <ion-label>Camara</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/notificaciones/']">
        <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>